@import './utils/mixins';
@import './components/header';
@import './components/body';
@import './components/footer';


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'monserrat', sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    background: linear-gradient(245.71deg, #1E0C00 4.96%, #1F0700 33.7%, #170A00 68.41%, #1E0D00 96.42%);
}

body {
    height: 4900px;
}

button, a {
    cursor: pointer;
}