* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 69px;
}

.cs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.csc {
    display: flex;
    align-items: center;
    gap: 78px;
}