@media (max-width: 428px) {
    body {
        width: 428px !important;
        height: 4000px !important;
    }

    html {
        width: 428px !important;
    }

    //header

    #headerburger {
        display: block !important;
        left: 360px;
        top: 5px;
    }

    .headerFunc {
        display: none !important;
    }

    header {
        left: 24px !important;
        top: 27px !important;
    }

    #logo {
        font-size: 23.76px;
    }

    .HFbtn {
        left: 110px !important;
        top: -15px;

        button:first-child {
            display: none;
        }

        button {
            width: 30px;
            height: 30px;
        }
    }

    //s1
    #otc1 {
        width: 400px !important;
    }
    .othertxtc {
        width: 400px !important;
    }
    .randomthing {
        display: none;
    }

    .s1 {
        width: 120px;

        .s1c {
            flex-direction: column !important;
            gap: 0 !important;
            width: 120px;
        }

        .randomtext {
            display: none;
        }

        .s1lc {
            position: relative;
            top: 1000px;
        }

        .s1rc {
            left: 50px;
            position: relative;
            img:first-child {
                width: 129.71px;
                height: 129.71px;
                top: -600px !important;
                right: -20px !important;
                z-index: 2;
            }

            img:last-child {
                width: 110.14px;
                height: 117.07px;
                right: 220px !important;
                top: -300px !important;
            }

            img:nth-child(2) {
                width: 243.36px;
                height: 365px;
                position: relative;
                top: -570px;
                right: 30px;
            }
        }

        .s1lc {
            top: 400px !important;
            width: 165px;
            left: -80px;

            h2 {
                font-size: 40px;
            }

            .pizzadelivery {
                gap: 2px !important;

                img {
                    scale: 0.7 !important;
                }
            }

            p {
                font-size: 14px !important;
            }

            .otcthing {
                top: 16px;
                left: 97px;
            }

            .cooking {
                top: 150px !important;
                width: 200px;
            }

            .s1buttonthingy {
                top: -250px !important;
                scale: 0.7;
                width: 276.87px !important;
                left: -45px;
            }
        }
    }

    //s2

    .s2 {
        left: 24px !important;
        width: 404px !important;

        #s2menu {
            font-size: 40px;
        }

        .s2btnrow {
            width: 380px !important;
            height: 92px !important;
            flex-wrap: wrap;

            button {
                width: 140px;
                height: 38px;
                font-size: 12px;
                box-shadow: 0px 5.5px 24.46px 0px #ff6b000f !important;
            }

            button:nth-child(2) {
                width: 80px;
            }

            button:nth-child(3) {
                width: 110px;
            }
        }
    }

    .s2c {
        width: 380px !important;
        flex-wrap: wrap;
        gap: 13px !important;
        left: -12.5px !important;

        .s2thing {
            width: 181px !important;
            height: 280px !important;

            img {
                width: 97px !important;
                height: 96px !important;
                top: -50px !important;
            }

            p {
                font-size: 8.76px !important;
                width: 140px !important;
                top: 0px !important;
            }

            h2 {
                font-size: 15px !important;
                font-weight: 500 !important;
                top: -20px !important;
            }

            .s2cbtn {
                gap: 22px !important;
                top: 20px !important;

                button {
                    width: 24px !important;
                    height: 24px !important;
                    font-size: 8.76px !important;
                }
            }

            .s2ingridients {
                width: 118px !important;
                height: 23px !important;
                font-size: 9.83px !important;
                top: 40px !important;
            }

            .s2func {
                gap: 28px !important;
                top: 60px !important;

                .s2funcprice {
                    h2 {
                        top: 0 !important;
                        left: 0 !important;
                    }

                    img {
                        width: 7px !important;
                        height: 11px !important;
                        top: 0 !important;
                        left: 32px !important;
                        position: absolute;
                    }
                }
            }

            .s2funccount {
                gap: 8px !important;
                top: 0 !important;

                p {
                    width: 6px !important;
                    font-size: 13.95px !important;
                    top: 0 !important;
                }

                button {
                    width: 14px !important;
                    height: 14px !important;
                    font-size: 10px !important;
                    top: 0 !important;
                }
            }

            .s2order {
                width: 118px !important;
                height: 27px !important;
                font-size: 10px !important;
                top: 65px !important;
            }
        }

        .s2thing:nth-child(3),
        .s2thing:nth-child(4) {
            position: relative;
            top: 40px;
        }
    }

    #s2randomp,
    #s2randomp2 {
        top: 0 !important;
        left: -60px !important;
        font-size: 128.33px;
        font-weight: 400;
    }

    #s2randomp {
        top: 160px !important;
    }

    #s2randomp2 {
        top: 800px !important;
    }

    //s3

    .s3 {
        width: 428px !important;

        img {
            width: 375px !important;
            height: 175px !important;
        }

        h2 {
            font-size: 26.82px;
            font-weight: 500;
        }
    }

    //s4

    .s4 {
        left: 24px !important;
        width: 404px !important;
        gap: 13px !important;
        flex-wrap: wrap;
        top: 480px !important;

        .s4pizza {
            width: 181px !important;
            height: 315px !important;
            position: relative;
            left: -12.5px;

            img {
                width: 97px !important;
                height: 96px !important;
                top: -40px !important;
            }

            h2 {
                font-size: 15px !important;
                font-weight: 500 !important;
                position: relative;
                top: -30px !important;
            }

            p {
                font-size: 9px !important;
                width: 150px !important;
                top: -10px;
            }

            .s4btnrow {
                gap: 23px !important;
                top: 10px;

                button {
                    width: 25px !important;
                    height: 25px !important;
                    font-size: 8px !important;
                    font-weight: 400 !important;
                }
            }

            .s4ingridients {
                width: 118px !important;
                height: 24px !important;
                font-size: 9px !important;
                font-weight: 400 !important;
                top: 30px;
            }

            .s4func {
                gap: 28px !important;

                .s4pricething {
                    img {
                        width: 7px !important;
                        height: 11px !important;
                        top: 0;
                        left: 0;
                    }
                }

                .s4countthing {
                    gap: 8px !important;
                    position: relative;
                    top: -30px;

                    p {
                        width: 6px !important;
                        font-size: 14px !important;
                    }

                    button {
                        width: 14px !important;
                        height: 14px !important;
                        font-size: 10px !important;
                    }
                }
            }

            .s4order {
                width: 118px !important;
                height: 27px !important;
                font-size: 10px !important;
                top: 70px !important;
            }
        }

        .s4pizza:nth-child(3),
        .s4pizza:nth-child(4) {
            position: relative;
            top: 40px;
        }
    }

    #s4randomp {
        display: none;
    }

    //s5

    //я не знаю як це зробити зараз
    .s5 {
        display: none;
    }

    //s6

    .s6 {
        width: 390px !important;
        left: 24px !important;

        .s6lc {
            display: grid;
            row-gap: 28px !important;
            top: 70px;
            position: relative;

            h2 {
                font-size: 48px !important;
                height: 40px;
            }

            p {
                top: -60px !important;
                font-size: 14px !important;
                width: 334.71px !important;
                height: 76px;
            }

            p:last-child {
                width: 316px !important;
                top: -240px !important;
            }

            img {
                top: -160px !important;
                width: 343.88px !important;
                height: 133px !important;
            }
        }

        .s6rc {
            position: relative;
            left: -725px !important;
            top: -450px !important;
            scale: 0.8;
            width: 428px !important;

            img {
                scale: 0.6;
            }

            img:nth-child(2) {
                top: 60px !important;
                left: 350px !important;
            }

            img:nth-child(3) {
                top: 320px !important;
                left: 40px !important;
            }

            .s6funnyimage {
                top: 67px !important;
                left: 64px !important;
                width: 200px;
                height: 200px;
            }
        }
    }

    #s6randomp1,
    #s6randomp2,
    #s6arrow {
        display: none;
    }

    //footer

    footer {
        height: 537px !important;
        width: 430px !important;
        top: 580px;

        .footerc {
            left: 24px !important;
            width: 400px;

            p {
                font-size: 23.76px !important;
                height: 35px !important;
            }

            .footernav {
                left: 0 !important;
                width: 266px !important;
                flex-wrap: wrap;
                row-gap: 29px !important;
                gap: 27px !important;
                position: absolute;
                top: 88px !important;
                a {
                    font-size: 15.35px !important;
                }
                .footernavfunc {
                    a {
                        font-size: 13.75px !important;
                    }
                }
            }
        }
        .footerlc {
            width: 379px !important;
            gap: 140px !important;
            top: 460px !important;
            left: 15px !important;
            p {
                font-size: 14.46px !important;
            }
            img {
                width: 20px !important;
                height: 20px !important;
            }
            .footerbtn {
                gap: 8px !important;
            }
        }
    }
}