*{
    box-sizing: border-box;
}

.bg-box {
    width: 1500px;
    height: 900px;
    background-color: green;
    background-image: url('img/houseimg.jpg');
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    background-size: contain;
    background-size: 50%;
}

.bg-box::before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: url('img/grassimg.png'), url('img/lampimg.png'), url('img/hedgehogimg.png'), url('img/donutimg.png');
    background-repeat:repeat-x, repeat-x, repeat-y, repeat-y;
    display: flex;
    background-position: bottom, top, left, right;
    background-size: contain;
    background-size: 20%, 4%, 3%, 3%;
}
