@media (max-width: 375px) {
  .yss-c {
    flex-direction: column;
  }
  .yss-mc {
    width: 335px !important;
    height: 465px !important;
  }
  .yss-mc img {
    left: 20px !important;
  }
  .yss-mc .yss-mc-p {
    top: 24px;
  }
  .yss-tc h2 {
    width: 210px !important;
    font-size: 28px !important;
    font-weight: 500 !important;
    text-wrap: nowrap;
  }
  .yss-tc p {
    width: 334px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  .plums,
  .organge,
  .kiwi {
    display: none !important;
  }
  .backdrop1,
  .backdrop2 {
    background-color: transparent !important;
  }
  .backdrop1-c {
    width: 335px !important;
    height: 950px !important;
  }
  .backdrop1-c .backdrop1-h2 {
    font-size: 28px !important;
    font-weight: 500 !important;
    left: 20px !important;
    bottom: 10px;
  }
  .backdrop1-c .backdrop1c-mc {
    flex-direction: row !important;
    width: 295px !important;
    height: 119px !important;
  }
  .backdrop1-c .backdrop1c-mc h2 {
    font-size: 18px !important;
    font-weight: 700 !important;
    width: 150px !important;
    text-wrap: nowrap;
  }
  .backdrop1-c .backdrop1c-mc p {
    position: relative;
    top: 26px;
  }
  .backdrop1-c .backdrop1c-mc img {
    height: 95px !important;
    right: 25px;
    position: relative;
  }
  .backdrop1-c .backdrop1c-mc input {
    left: 250px !important;
    width: 16px;
    height: 16px;
  }
  .backdrop1-c .strawberrybasket img {
    width: 88px !important;
  }
  .backdrop1-c .strawberrybasket p {
    right: 149px;
  }
  .backdrop1-c .applebasket img {
    width: 106px !important;
  }
  .backdrop1-c .applebasket p {
    right: 117px;
  }
  .backdrop1-c .fruitsbasket img {
    width: 107px !important;
  }
  .backdrop1-c .fruitsbasket p {
    right: 114px;
  }
  .backdrop1-c .backdrop1cmc {
    left: 20px !important;
    flex-direction: column !important;
  }
  .backdrop1-c form {
    left: 20px !important;
    width: 295px !important;
  }
  .backdrop1-c form input {
    height: 46px !important;
  }
  .backdrop1-c .btn-close1 {
    left: 291px !important;
  }
  .backdrop1-c .btn-open2 {
    left: 10px !important;
    top: 343px !important;
  }
  .backdrop1-c .bananamen {
    display: none !important;
  }
  body {
    width: 375px;
  }

  .o-p1 {
    width: 605px;
    line-height: 64px;
    font-weight: 500;
  }

  .o-img1 {
    display: none;
  }

  .o-img01 {
    display: block;
    width: 670px;
    left: 35px;
    position: relative;
    border-radius: 39px;
    z-index: -1;
    top: -25px;
  }

  .o-img2 {
    display: none;
  }

  .o-div4 {
    display: none;
  }

  footer {
    height: 1200px;
    width: 786px;
  }

  .o-img3 {
    width: 620px;
    position: relative;
    left: 50px;
    top: 150px;
  }

  .o-imgg1 {
    width: 25px;
    position: relative;
    top: 200px;
    right: 403px;
  }

  .o-p3 {
    font-size: 23px;
    position: relative;
    top: 175px;
    left: 260px;
  }

  .o-p4 {
    font-size: 23px;
    top: 220px;
    position: relative;
    right: 44%;
  }

  .o-p5 {
    position: relative;
    left: 41%;
    color: #ae1332;
    top: 350px;
    font-size: 25px;
    width: 280px;
  }

  .o-div5 {
    position: relative;
    left: -670px;
    top: 440px;
  }
  .o-p6 {
    width: 246px;
    position: relative;
    left: 330px;
    top: 400px;
    font-size: 25px;
  }
}
.backdrop2-c {
  width: 335px !important;
  height: 426px !important;
}
.backdrop2-c img {
  width: 207px !important;
  height: 176px !important;
  left: 44px !important;
  bottom: 20px;
}
.backdrop2-c .backdrop2-tc {
  left: 0 !important;
}
.backdrop2-c .backdrop2-tc h2 {
  font-size: 28px !important;
  font-weight: 500 !important;
  width: 146px !important;
  text-wrap: nowrap;
  left: 75px;
  position: relative;
}
.backdrop2-c .backdrop2-tc p {
  font-size: 14px !important;
  font-weight: 400 !important;
  width: 295px !important;
}
.backdrop2-c .btn-close2 {
  left: 278px !important;
  bottom: 25px !important;
  font-size: 14px !important;
}

.is-hidden {
  width: 100vw;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.backdrop1,
.backdrop2 {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backdrop1-c {
  background-color: white;
  width: 891px;
  height: 911px;
  border-radius: 20px;
  position: absolute;
}
.backdrop1-c .backdrop1cmc {
  display: flex;
  gap: 20px;
  position: relative;
  left: 40px;
  top: 40px;
}
.backdrop1-c .backdrop1cmc h2,
.backdrop1-c .backdrop1cmc p {
  transition: 0.5s;
}
.backdrop1-c .backdrop1cmc h2:hover,
.backdrop1-c .backdrop1cmc p:hover {
  transform: scale(1.1);
}
.backdrop1-c .backdrop1cmc .strawberrybasket {
  background-color: #f8766b;
}
.backdrop1-c .backdrop1cmc .strawberrybasket img {
  width: 173px;
}
.backdrop1-c .backdrop1cmc .applebasket {
  background-color: #edd251;
}
.backdrop1-c .backdrop1cmc .fruitsbasket {
  background-color: #9dc262;
}
.backdrop1-c .backdrop1c-mc {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 14px;
  border-radius: 20px;
  width: 257px;
}
.backdrop1-c .backdrop1c-mc .checkbox {
  width: 20px;
  height: 20px;
  border: 2px white solid;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  left: 207px;
}
.backdrop1-c .backdrop1c-mc img {
  width: 229px;
  height: 196px;
  transition: 0.5s;
}
.backdrop1-c .backdrop1c-mc img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.backdrop1-c .backdrop1c-mc h2 {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}
.backdrop1-c .backdrop1c-mc p {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}
.backdrop1-c .backdrop1c-mc h2,
.backdrop1-c .backdrop1c-mc p {
  color: white;
}
.backdrop1-c .btn-close1 {
  color: #ae1332;
  font-weight: 1000;
  font-size: 21px;
  position: relative;
  left: 850px;
  top: 20px;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;
  z-index: 4;
  cursor: pointer;
}
.backdrop1-c .backdrop1-h2 {
  color: #ae1332;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
  left: 40px;
}
.backdrop1-c form {
  display: flex;
  flex-direction: column;
  width: 360px;
  position: relative;
  left: 40px;
  top: 80px;
  column-gap: 14px;
}
.backdrop1-c form input {
  height: 48px;
  border: rgba(0, 0, 0, 0.3) 1px solid;
  border-radius: 100px;
  transition: 0.2s;
}
.backdrop1-c form input:hover,
.backdrop1-c form textarea:hover {
  border: black 2px solid;
}
.backdrop1-c form input::placeholder {
  position: relative;
  left: 24px;
}
.backdrop1-c form input:nth-child(2) {
  margin-top: 14px;
}
.backdrop1-c form input:nth-child(3) {
  margin-top: 14px;
}
.backdrop1-c form textarea {
  height: 145px;
  border: rgba(0, 0, 0, 0.3) 1px solid;
  border-radius: 20px;
  margin-top: 14px;
  transition: 0.2s;
}
.backdrop1-c form textarea::placeholder {
  position: relative;
  left: 24px;
  top: 15px;
}
.backdrop1-c .bananamen {
  position: absolute;
  left: 420px;
  bottom: 0px;
  cursor: pointer;
}
.backdrop1-c .btn-open2 {
  position: absolute;
  top: 379px;
  background-color: #9dc162;
  color: white;
  border: none;
  border-radius: 100px;
  width: 114px;
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.2s;
}
.backdrop1-c .btn-open2:hover {
  transform: scale(1.1);
  border-radius: 20px !important;
}

.backdrop2-c {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 600px;
  height: 545px;
  background-color: #e03f5e;
  border-radius: 20px;
  padding: 20px;
}
.backdrop2-c .btn-close2 {
  color: white;
  font-weight: 1000;
  font-size: 21px;
  position: relative;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;
  z-index: 5;
  cursor: pointer;
  bottom: 64px;
  left: 542px;
}
.backdrop2-c img {
  position: relative;
  left: 141px;
}
.backdrop2-c .backdrop2-tc {
  width: 391px;
  position: relative;
  left: 85px;
}
.backdrop2-c .backdrop2-tc h2,
.backdrop2-c .backdrop2-tc p {
  color: white;
  text-align: center;
}
.backdrop2-c .backdrop2-tc h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
}
.backdrop2-c .backdrop2-tc p {
  font-size: 14px;
  font-weight: 400px;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "dm sans", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  background-color: #ae1332;
}

body {
  width: 100%;
}

.ys-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}
.ys-section p,
.ys-section h2 {
  color: #ffffff;
}
.ys-section .btn-open1 {
  position: relative;
  top: 152px;
  width: 144px;
  height: 144px;
  background-color: #9dc262;
  border: none;
  border-radius: 100%;
  color: white;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  transform: rotate(346deg);
  cursor: pointer;
  transition: 0.5s;
}
.ys-section .btn-open1:hover {
  transform: scale(1.5);
}

.yss-tc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.yss-tc h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  transition: 0.2s;
}
.yss-tc p {
  text-align: center;
  width: 547px;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  top: 16px;
  transition: 0.5s;
}
.yss-tc h2:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.yss-tc p:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.yss-mc {
  width: 389px;
  height: 465px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border-radius: 20px;
  position: static;
}
.yss-mc h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  position: relative;
  left: 24px;
}
.yss-mc .behold_my_ultimate_aligning_technique {
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  left: 24px;
}
.yss-mc img {
  position: relative;
  left: 47px;
  width: 295px;
  height: 251px;
  transition: 0.5s;
}
.yss-mc img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.yss-mc .yss-mc-p {
  background-color: white;
  width: 136px;
  height: 48px;
  position: relative;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 200px;
  transition: 0.2s;
}
.yss-mc .yss-mc-p p {
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
  color: #ae1332;
  text-wrap: nowrap;
}
.yss-mc .yss-mc-p:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.yss-mc .yssmcp-h2tp {
  transition: 0.5s;
}
.yss-mc .yssmcp-h2tp:hover {
  transform: scale(1.2);
}

.yss-c {
  display: flex;
  gap: 24px;
  position: relative;
}

.yss-c:nth-child(2) {
  top: 24px;
}

.yss-c:nth-child(3) {
  top: 48px;
}

.yss-mc-c {
  position: relative;
  top: 60px;
}

.strawberry {
  background-color: #f8766b;
  width: 389px;
}

.banana {
  background-color: #edd251;
  width: 389px;
}

.watermelon {
  background-color: #9dc262;
  width: 389px;
}

.lime {
  background-color: #bfd663;
}

.apple {
  background-color: #e93f29;
}

.peach {
  background-color: #db4f4b;
}

.plums {
  background-color: #9b5366;
}

.organge {
  background-color: #f47f4c;
}

.kiwi {
  background-color: #98b37e;
}

footer {
  background-color: #ffffff;
  position: relative;
  top: 290px;
  height: 377px;
}

.o-p1 {
  width: 740px;
  height: 128px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  color: #ffffff;
  text-align: center;
  display: flex;
  position: relative;
  left: 21%;
  margin-top: 70px;
}

.o-img1 {
  position: relative;
  left: 20px;
  top: -39px;
  z-index: -1;
}

.o-img01 {
  display: none;
}

.o-img2 {
  position: relative;
  left: 45px;
  top: -40px;
  z-index: -1;
}

.o-p2 {
  width: 534px;
  font-weight: 400;
  height: 54px;
  font-family: "DM Sans";
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  position: relative;
  left: 27%;
  top: 55px;
}

.o-input {
  background-color: transparent;
  border-radius: 50px;
  color: white;
  width: 292px;
  height: 48px;
  border: solid #c6596f 1px;
}

.o-input::placeholder {
  position: relative;
  left: 24px;
}

.o-butt {
  background-color: #9dc162;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  position: relative;
  width: 102px;
  height: 48px;
  right: 100px;
}

.o-div1 {
  position: relative;
  left: 36.5%;
  top: 130px;
}

.o-img3 {
  position: relative;
  top: 25%;
  left: 30px;
}

.o-imgg1 {
  position: relative;
  top: 129px;
  right: 230px;
}

.o-img4 {
  color: #ffffff;
}

.o-p3 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ae1332;
  position: relative;
  left: 150px;
  top: 109px;
}

.o-p4 {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 14px;
  color: #ae1332;
}

.o-div2 {
  display: flex;
  gap: 30px;
  position: relative;
  left: 530px;
}

.o-img4 {
  position: relative;
  left: 1030px;
  top: -150px;
}

.o-img5 {
  position: relative;
  left: 1050px;
  top: -150px;
}

.o-img6 {
  position: relative;
  left: 1070px;
  top: -150px;
}

.o-p5 {
  color: #ae1332;
  width: 184px;
  height: 24px;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  position: relative;
  left: 1030px;
  top: -120px;
}

.o-p6 {
  width: 180px;
  height: 72px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ae1332;
  position: relative;
  left: 1030px;
  top: -90px;
}

.o-div3 {
  position: relative;
  right: 80px;
}
