@import "./../utlits/mixins";

header {
  background-color: white;
  width: 100%;
  height: 80px;
  @include flex-position();
  position: fixed;
}


.header-inf {
  a {
    text-decoration: none;
    color: #757575;
    font-weight: medium;
  }
  #hhiemail {
    padding-right: 20%;
  }
}

.header-links {
  display: flex;
  padding-left: 20%;
  a {
    text-decoration: none;
    color: #212121;
    font-weight: medium;
  }
  div {
    padding-right: 25%;
  }
}

.h1half,
.h2half {
  display: flex;
}

.h1half {
  padding-right: 30%;
}