.divig {
    display: flex;
    gap: 20px;
    transform: translate(30vw, 20vh);
    button {
        height: 50px;
        width: 50px;
    }
}

.calculator-dig {
    display: grid;
    row-gap: 15px;
    .cd-f {
        justify-self: center;
    }
}

.calc-operators {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-left: 50px;
}

p {
    font-size: 67px;
}