.thing1 {
  width: 250px;
  height: 250px;
  background-color: yellow;
}

.divthing {
  display: flex;
  gap: 20px;
}
.divthing button {
  height: 25px;
}

.divthing2 {
  display: flex;
  gap: 20px;
}
.divthing2 button {
  height: 25px;
}