@media (max-width: 768px) {

    .header-thing,
    #thing {
        display: block;
    }

    .header-burger-a {
        display: block;
    }

    .hfunc {
        width: 600px !important;
    }

    .hfunc-a {
        display: none;
    }

    #thing:checked~.header-burger {
        display: block;
    }

    #thing:checked~.header-thing {
        color: red;
    }

    .s1 {
        img {
            width: 354px;
            height: 394px;
            position: relative;
        }

        .s1img {
            position: relative;
            left: 0 !important;
        }

        .s1mc {
            width: 666px !important;
        }

        h2 {
            font-size: 42px;
            width: 289px;
        }

        button {
            width: 294px;
        }

        .s1mc-c {
            left: 0 !important;
            top: 220px !important;
        }
    }

    .s2 {
        margin-top: 200px !important;

        img {
            height: 540px;
            width: 354px;
        }

        .s2h2 {
            width: 294px !important;
            font-size: 30px !important;
        }

        .s2mc {
            left: 50px !important;
            width: 294px !important;
        }

        .s2mc-c {
            width: 294px !important;

            h2 {
                font-size: 20px !important;
            }

            p {
                font-size: 16px !important;
            }
        }
    }

    .s3 {
        top: 128px !important;
        left: 60px !important;
        width: 608px !important;

        .s3mc {
            width: 412px !important;
        }

        .s3mc-c {
            width: 412px !important;
        }

        .s3mmc {
            flex-direction: column;
            gap: 16px !important;
            width: 412px !important;
        }

        h2 {
            font-size: 30px;
            width: 412px !important;
        }
    }

    .s4 {
        margin-top: 300px !important;

        h2 {
            left: 361px !important;
            font-size: 30px !important;
            width: 367px !important;
        }

        img {
            height: 293px;
        }
    }

    .s5mc {
        left: 60px !important;
        gap: 60px !important;
        width: 648px !important;
    }

    .s5mc-c {
        width: 294px !important;

        p {
            font-size: 16px !important;
            width: 294px !important;
        }

        h2 {
            font-size: 20px !important;
        }
    }

    .s6mc-c {
        left: 60px !important;
    }

    .s6 {
        margin-top: 100px !important;
        height: 297px;

        h2 {
            font-size: 30px !important;
        }

        .s6mc-tc {
            h2 {
                font-size: 20px !important;
            }

            p {
                font-size: 16px !important;
                width: 294px !important;
            }
        }

        img {
            width: 354px;
            height: 297px;
            left: 35px !important;
        }
    }

    .s7 {
        margin-top: 100px !important;

        .s7mc {
            width: 294px !important;
        }

        img {
            width: 354px !important;
            height: 442px !important;
        }

        .s7mc-c {
            left: 60px !important;
        }

        h2 {
            font-size: 30px;
        }

        .s7-mc-ctc {
            h2 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
                width: 294px !important;
            }
        }
    }

    .tidalwave_tuntun {
        display: none;
    }

    .s8 {
        margin-top: 100px !important;

        img {
            left: 120px !important;
            width: 354px !important;
            height: 524px !important;
        }

        h2 {
            font-size: 30px !important;
            width: 155px !important;
        }

        p {
            font-size: 16px !important;
            width: 294px !important;
        }
    }

    .s8mc-c {
        left: 60px !important;
        width: 294px !important;
    }

    .s9 {
        margin-top: 200px !important;

        p {
            font-size: 16px !important;
            width: 294px !important;
        }

        h2 {
            font-size: 20px !important;
            width: 294px !important;
        }
    }

    .s9mc {
        left: 60px !important;
        width: 708px !important;

        p {
            left: 60px !important;
        }
    }

    .s9mc-ctc {
        left: 60px !important;

        p {
            left: 0px !important;
        }
    }

    .s10 {
        margin-top: 168px !important;

        .s10mc1,
        .s10mc2,
        .s10mc3,
        .s10mc4 {
            flex-direction: column;
        }

        iframe {
            width: 648px !important;
            height: 417px !important;
            top: 68px;
            left: 60px;
            position: relative;
        }

        h2 {
            font-size: 30px !important;
            position: relative;
            bottom: 417px;
            right: 90px;
        }
    }

    .s10mc-ctc {
        top: 32px;
        position: relative;
        right: 90px;

        p {
            width: 530px !important;
        }
    }

    .s10b {
        left: 60px !important;
        margin-top: 150px !important;
    }

    .s11 {
        margin-top: 300px !important;

        h2 {
            left: 60px !important;
            font-size: 30px !important;
            width: 58px !important;
        }
    }

    .s11mc {
        left: 60px !important;

        svg {
            width: 648px !important;
        }
    }

    .s11q {
        width: 648px !important;

        p:first-child {
            font-size: 20px !important;
        }

        p:nth-child(2) {
            font-size: 16px !important;
        }

        button {
            width: 32px !important;
            height: 32px !important;
            font-size: 16px !important;
        }

        #s11b1 {
            left: 340px !important;
        }

        #s11b2 {
            left: 240px !important;
        }

        #s11b3 {
            left: 175px !important;
        }

        #s11b4 {
            left: 290px !important;
        }
    }

    #s11p1,
    #s11p2,
    #s11p3,
    #s11p4 {
        width: 500px !important;
        font-size: 16px !important;
    }

    .s11mc {
        width: 648px !important;
    }

    .s11mc1,
    .s11mc2,
    .s11mc3,
    .s11mc4 {
        width: 648px !important;
    }

    .s12 {
        margin-top: 214px !important;
    }

    .s12mc {
        left: 60px !important;
        width: 690px !important;
    }

    .s12mc-c {
        margin-top: 406px;

        #s12h2 {
            bottom: 500px;
            position: relative;
        }
    }

    .s12mc-cc {
        svg {
            width: 648px !important;
        }

        rect {
            width: 648px !important;
        }
    }

    .s12mcc-link {
        p {
            font-size: 16px !important;
        }
    }

    .s12mccl-b1 {
        left: 450px !important;
    }

    .s12mccl-b2 {
        left: 480px !important;
    }

    .s12mccl-b3 {
        left: 365px !important;
    }

    #s12img1,
    #s12img2 {
        left: 0 !important;
        width: 648px !important;
        height: 446px !important;
    }

    .s12price {
        h2 {
            font-size: 30px !important;
        }

        button {
            width: 294px !important;
            height: 58px !important;
        }
    }

    .s13 {
        margin-top: 300px !important;

        img {
            position: relative;
            left: 60px;
            width: 648px !important;
            height: 360px !important;
        }
    }

    footer {
        margin-top: 100px !important;
        height: 900px !important;

        form {
            margin-top: 52px;
        }
    }

    .fc {
        left: 60px !important;
        flex-direction: column;
        width: 648px !important;
    }

    .fc-c {
        h2 {
            font-size: 30px !important;
        }

        p {
            width: 445px !important;
            font-size: 20px !important;
            top: 32px !important;
        }
    }

    .f-form {
        left: 0 !important;

        input,
        textarea {
            width: 646px !important;
        }

        input::placeholder,
        textarea::placeholder {
            font-size: 16px !important;
        }
    }

    .f-form-checkbox {
        input {
            width: 30px !important;
            height: 30px !important;
        }
    }

    #footer_button {
        width: 294px !important;
        height: 58px !important;
        font-size: 16px !important;
    }

    .flc {
        left: 60px !important;
        width: 648px !important;

        p {
            position: relative;
            top: 145px;
        }
    }

    .flc1,
    .flc2 {
        flex-direction: column;
    }

    .flc2 {
        left: 139px !important;
    }
}