header {
  width: 100vw;
}

.header-c {
  position: relative;
  left: 1vw;
  width: 96vw;
  height: 850px;
  margin-top: 28px;
  margin-left: 24px;
}

.header-hc-func {
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.header-a-logo {
  background-image: url("./../src/img/logo.svg");
  background-repeat: no-repeat;
  width: 72px;
  height: 57px;
  position: relative;
  right: 261px;
}

.hhfa-func {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 48px;
}
.hhfa-func a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.call-me-maybe {
  position: relative;
  left: 261px;
  cursor: pointer;
}

.header-fc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 795px;
  width: 99vw;
}
.header-fc .hfc-c {
  display: flex;
}
.header-fc p {
  font-size: 32px;
  font-weight: 400;
}
.header-fc .hfcc-p {
  width: 100px;
  height: 78px;
  align-self: center;
  position: relative;
  right: 110px;
}
.header-fc img:last-child {
  width: 166px;
  height: 166px;
  align-self: center;
  position: relative;
  left: 110px;
}

.htitle {
  position: relative;
  right: 1vw;
  margin-top: -120px;
}
.htitle h2 {
  font-size: 160px;
  font-weight: 400;
}

.hfc-c {
  display: flex;
}

main {
  width: 100vw;
}

.s1 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 126px;
  margin-bottom: 100px;
}
.s1 .s1c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 90px;
}
.s1 .s1c .s1c-p {
  width: 510px;
}
.s1 .s1c p {
  font-size: 22px;
  font-weight: 400;
  margin-left: 65px;
}

.s2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 126px;
  margin-bottom: 100px;
}
.s2 .s2c {
  display: flex;
  gap: 32px;
  margin-left: 5vw;
}
.s2 .s2c-mc {
  width: 600px;
}
.s2 .s2c-mc p:last-child {
  font-size: 28px;
  font-weight: 600;
  color: rgb(159, 159, 159);
}
.s2 .s2cmc-psvg {
  display: flex;
  align-items: center;
  gap: 16px;
}
.s2 .s2cmc-psvg p {
  font-size: 36px;
  font-weight: 500;
  text-wrap: nowrap;
}
.s2 .s2cmc-p {
  margin-bottom: 64px;
}
.s2 button {
  color: white;
  border: none;
  border-radius: 50px;
  background-color: #E86F54;
  font-size: 28px;
  font-weight: 500;
  width: 240px;
  height: 64px;
  justify-self: center;
  position: relative;
  left: 2vw;
  top: 60px;
  margin-bottom: 100px;
  cursor: pointer;
  z-index: 5;
}

.s3 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 126px;
  margin-bottom: 200px;
  margin-top: 80px;
}
.s3 .s3row-c {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 56px;
  margin-bottom: 55px;
  width: 1088px;
}
.s3 .s3row-c p {
  font-size: 32px;
  font-weight: 500;
}
.s3 .s3-bottom-img {
  height: 391px;
  width: 1280px;
  justify-self: center;
  position: relative;
  background-image: url("./../src/img/s3img2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.s4 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 126px;
  margin-top: 80px;
}
.s4 .s4img {
  display: flex;
  align-items: center;
  gap: 32px;
}
.s4 p {
  justify-self: center;
  font-weight: 500;
  font-size: 32px;
  margin-top: 44px;
  transform: translateX(1vw);
}
.s4 button {
  color: white;
  border: none;
  border-radius: 50px;
  background-color: #E86F54;
  font-size: 28px;
  font-weight: 500;
  width: 240px;
  height: 64px;
  justify-self: center;
  position: relative;
  left: 2vw;
  top: 60px;
  margin-bottom: 100px;
  cursor: pointer;
  transform: translateX(15vw);
  margin-bottom: 300px;
  width: 280px;
  height: 64px;
}

footer {
  width: 100vw;
  height: 298px;
  background-color: black;
}

.fc {
  position: relative;
  top: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 96px;
  left: 3vw;
}
.fc .fc-logo {
  width: 73px;
  height: 57px;
  align-self: self-start;
}
.fc .fc-1 {
  width: 105px;
  height: 154px;
  line-height: 32px;
}
.fc .fc-1 h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: "inter";
  margin-bottom: 12px;
}
.fc .fc-1 a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "inter";
}
.fc .fc-2 {
  width: 143px;
  height: 79px;
  line-height: 32px;
  align-self: self-start;
}
.fc .fc-2 h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: "inter";
  margin-bottom: 12px;
}
.fc .fc-2 p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "inter";
}
.fc .fc-3 {
  width: 237px;
  height: 142px;
  line-height: 32px;
  align-self: self-start;
}
.fc .fc-3 h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: "inter";
  margin-bottom: 12px;
}
.fc .fc-3 p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "inter";
}
.fc .fc-thing {
  align-self: self-start;
  width: 29px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fc .fc-thing img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.fc .fc-thing img:last-child {
  position: relative;
  top: 14px;
}

.is-hidden {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  pointer-events: auto;
}
.backdrop .backdropstuff {
  background-color: white;
  padding: 24px;
  width: 480px;
  height: 511px;
}
.backdrop .backdropstuff button:first-child {
  position: relative;
  left: 412px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}
.backdrop .backdropstuff h2 {
  font-weight: 600;
  font-size: 32px;
}
.backdrop .backdropstuff p {
  font-weight: 500;
  font-size: 16px;
  width: 416px;
  color: #5C5C5C;
  margin-top: 24px;
}
.backdrop .backdropstuff input {
  border-radius: 10px;
  border: solid #D7D7D7 1px;
  height: 49px;
  width: 416px;
  margin-top: 8px;
}
.backdrop .backdropstuff input::placeholder {
  color: #D7D7D7;
}
.backdrop .backdropstuff .backdrop-name p {
  font-size: 14px;
  font-weight: 500;
  color: #5C5C5C;
}
.backdrop .backdropstuff .backdrop-email p {
  font-size: 14px;
  font-weight: 500;
  color: #5C5C5C;
}
.backdrop .backdropstuff button:last-child {
  background-color: rgba(232, 111, 84, 0.4);
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  width: 416px;
  height: 50px;
  cursor: pointer;
  position: relative;
  top: 38px;
  justify-self: center;
}

.backdrop-second {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  pointer-events: auto;
}
.backdrop-second .btn-close-both {
  position: relative;
  left: 400px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  align-self: self-start;
}
.backdrop-second .back-2-c {
  background-color: white;
  width: 480px;
  height: 505px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.backdrop-second .back-2-c h2 {
  font-weight: 600;
  font-size: 32px;
  position: relative;
  left: 80px;
}
.backdrop-second .back-2-c p {
  font-weight: 500;
  font-size: 16px;
  position: relative;
  right: 40px;
  text-align: center;
  color: #5C5C5C;
  top: 16px;
}
.backdrop-second .back-2-c .back-2c-mc {
  position: relative;
  left: 20px;
}
.backdrop-second .back-2-c button:last-child {
  position: relative;
  top: 34px;
  background-color: #E86F54;
  width: 418px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  right: 35px;
  cursor: pointer;
}

.is-hidden-second {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.backdrop-third {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  z-index: 3;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.backdrop-third-stuff {
  display: flex;
  background-color: white;
  width: 860px;
  height: 528px;
}
.backdrop-third-stuff .btn-close-third {
  position: relative;
  left: 400px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  align-self: self-start;
  bottom: 120px;
}
.backdrop-third-stuff .b3c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.backdrop-third-stuff h2 {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  bottom: 24px;
  left: 36px;
}
.backdrop-third-stuff p {
  font-weight: 400;
  font-size: 16px;
  color: #5C5C5C;
  width: 336px;
  text-align: center;
  position: relative;
  left: 36px;
}
.backdrop-third-stuff h3 {
  position: relative;
  right: 100px;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 500;
}
.backdrop-third-stuff input {
  border-radius: 10px;
  border: solid #D7D7D7 1px;
  height: 49px;
  width: 336px;
  position: relative;
  left: 45px;
  margin-top: 8px;
}
.backdrop-third-stuff input::placeholder {
  color: #D7D7D7;
}
.backdrop-third-stuff #IHATEYOUWHYCANTYOUBEHAVE {
  position: relative;
  top: 34px;
  background-color: #E86F54;
  width: 336px;
  height: 49px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  right: 35px;
  cursor: pointer;
  left: 45px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "montserrat", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 1256px;
}

.long-ahh-thing {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  position: relative;
  top: 100px;
  left: 730px;
}
.long-ahh-thing svg {
  height: 1px;
  width: 100%;
}
.long-ahh-thing h2 {
  font-size: 44px;
  font-weight: bold 700;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}