.head {
    background-color: white;
    width: 1600px;
    height: 80px;
    display: flex;
    flex-direction: row;
    .header-inf {
        display: flex;
        flex-direction: row;
        word-spacing: 20px;
      }
      .header-links {
        word-spacing: 20px;
    }
  }