* {
  margin: 0;
  box-sizing: border-box;
  font-family: "comfortaa";
}

html {
  animation: rainbow 3s linear infinite;
}

html::-webkit-scrollbar {
  display: none;
}

#stickbug {
  font-size: 200px;
}

#stickbugimg {
  width: 1920px;
  height: 1080px;
  margin-left: 300px;
}

header {
  width: 100vw;
  height: 150px;
  background-color: white;
  position: fixed;
  z-index: 5;
}
header .hlog:hover img {
  animation: spin 4s;
  cursor: pointer;
}
header .hc {
  display: flex;
  width: 100vw;
  height: 150px;
  justify-content: center;
  align-items: center;
}
header .hlog {
  margin-right: 2000px;
  position: absolute;
}
header .hfunc {
  margin-left: 1000px;
  display: flex;
  gap: 120px;
}
header .hfunc a {
  text-decoration: none;
  color: black;
  font-size: 32px;
  transition: 1s;
}
header .hfunc a:hover {
  color: #ff9191;
  transform: scale(2);
  cursor: pointer;
}

.s1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.s1 h2 {
  font-size: 70px;
  margin-left: 45vw;
  text-transform: capitalize;
}
.s1 p {
  position: relative;
  left: 40%;
  transition: 1s;
  width: 30px;
  margin-top: 20px;
}
.s1 p:hover {
  transform: scale(5) rotate(360deg);
  color: white;
}
.s1 img {
  width: 400px;
  height: 400px;
}
.s1 .s1p {
  font-size: 400px;
  position: relative;
  left: 0;
  width: 400px;
  margin-top: 0;
}
.s1 .s1p:hover {
  transform: none;
  color: black;
}
.s1 .s1dc {
  display: flex;
  gap: 70px;
  margin-left: 15vw;
  margin-top: 150px;
}
.s1 .s1dc2 {
  display: flex;
  gap: 70px;
  margin-left: 17vw;
  margin-top: 150px;
}
.s1 .s1dc3 {
  display: flex;
  gap: 70px;
  margin-left: 17vw;
  margin-top: 150px;
}
.s1 .s1dcf {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.s2 {
  background-color: white;
  margin-top: 150px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s2 h2 {
  margin-top: -22.5%;
  font-size: 70px;
  text-transform: capitalize;
  position: absolute;
  transition: 1s;
}
.s2 h2:hover {
  animation: gradient 1s infinite;
  transform: scale(1.5);
}
.s2 .s2c {
  width: 100vw;
  display: flex;
  width: 1800px;
  height: 400px;
  align-items: center;
}
.s2 img {
  width: 400px;
  height: 400px;
}
.s2 img:hover {
  animation: steam-thing-ig 8s;
}
.s2 .s2tc {
  width: 600px;
  margin-left: 600px;
}
.s2 .s2tc p {
  font-size: 32px;
  transition: 1s;
}
.s2 .s2tc h2 {
  margin: 0;
  position: static;
  width: 250px;
}
.s2 .s2tc p:hover {
  transform: scale(1.25);
}

footer {
  background-color: #212121;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .fc {
  display: flex;
  align-items: center;
}
footer img {
  width: 300px;
  height: 300px;
  right: 500px;
  position: relative;
}
footer .logo:hover img {
  animation: spin 4s;
}
footer input {
  height: 100px;
  width: 600px;
  font-size: 40px;
  border: solid black 10px;
  border-radius: 25px;
  transition: 2s;
}
footer input:hover {
  transform: rotate(360deg);
}
footer button {
  border: solid black 10px;
  border-radius: 25px;
  height: 100px;
  width: 250px;
  font-size: 32px;
  cursor: pointer;
  transition: 1s;
}
footer button:hover {
  transform: rotate(360deg);
}

.joinhtml {
  animation: none;
}

.joins1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.joins1 button {
  width: 250px;
  height: 100px;
  background-color: #219eff;
  border: none;
  border-radius: 40px;
  transition: 1s;
  margin-top: 120px;
}
.joins1 button a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  text-transform: capitalize;
}
.joins1 button:hover {
  border: 15px rgba(34, 0, 255, 0.5) solid;
  cursor: pointer;
}
.joins1 img {
  width: 500px;
  height: 500px;
  animation: spin-normal 4s linear infinite;
  transition: 1s;
}
.joins1 img:hover {
  width: 750px;
  height: 750px;
  cursor: pointer;
}
.joins1 p {
  text-transform: capitalize;
  font-size: 60px;
  animation: gradient 2s infinite;
  margin-bottom: 120px;
}

@keyframes rainbow {
  0% {
    background-color: red;
  }
  14% {
    background-color: orange;
  }
  28% {
    background-color: yellow;
  }
  42% {
    background-color: green;
  }
  56% {
    background-color: blue;
  }
  70% {
    background-color: indigo;
  }
  84% {
    background-color: violet;
  }
  100% {
    background-color: red;
  }
}
@keyframes spin {
  0% {
    transform: skew(0);
  }
  20% {
    transform: skew(120deg, 240deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(360deg);
  }
  80% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin-normal {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes gradient {
  0% {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
  }
  14% {
    background: linear-gradient(to right, orange, yellow, green, blue, indigo, violet, red);
    -webkit-background-clip: text;
    color: transparent;
  }
  28% {
    background: linear-gradient(to right, yellow, green, blue, indigo, violet, red, orange);
    -webkit-background-clip: text;
    color: transparent;
  }
  42% {
    background: linear-gradient(to right, green, blue, indigo, violet, red, orange, yellow);
    -webkit-background-clip: text;
    color: transparent;
  }
  56% {
    background: linear-gradient(to right, blue, indigo, violet, red, orange, yellow, green);
    -webkit-background-clip: text;
    color: transparent;
  }
  70% {
    background: linear-gradient(to right, indigo, violet, red, orange, yellow, green, blue);
    -webkit-background-clip: text;
    color: transparent;
  }
  84% {
    background: linear-gradient(to right, violet, red, orange, yellow, green, blue, indigo);
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes steam-thing-ig {
  10% {
    transform: scale(1.5);
  }
  20% {
    transform: scale(1.5) skew(25deg, 25deg);
  }
  30% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(1.5) skew(-25deg, -25deg);
  }
  50% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1.5) rotateX(70deg);
  }
  70% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1.5) rotateX(-70deg);
  }
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
img {
  width: 100px;
  height: 100px;
}

.s1dcf:hover {
  cursor: pointer;
}
.s1dcf:hover .s1p {
  animation: spin 4s;
}
.s1dcf:hover img {
  animation: spin 4s;
}