@import "utils/mixins";
@import "components/header";
@import "components/body";
@import "components/footer";
@import "components/backdrop";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "montserrat", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 1256px;
}

.long-ahh-thing {
  @include fp($jc: none);
  gap: 16px;
  position: relative;
  top: 100px;
  left: 730px;

  svg {
    height: 1px;
    width: 100%;
  }

  h2 {
    font-size: 44px;
    font-weight: bold 700;
    text-transform: uppercase;
  }
}

a {
  cursor: pointer;
}

@media (max-width: 9999px) {
  .header-thing {
    opacity: 0;
  }
  #thing {
    opacity: 0;
  }
  #thing2 {
    opacity: 0;
  }
  .sans {
    opacity: 0;
  }
  .header-thing2 {
    opacity: 0;
  }
}

@media (max-width: 1440px) {
  .hhfa-func {
    margin-left: -24px;
  }

  .header-fc {
    margin-left: 1vw;
  }

  .long-ahh-thing {
    left: 24px;
  }

  .s1 {
    position: relative;
    right: 100px;
  }

  .s2 {
    align-items: start;

    button {
      align-self: center;
      margin-left: -48px;
    }
  }

  .s2c {
    margin-left: 64px;

    img {
      width: 600px;
      height: 542px;
    }
  }

  .s4 {
    margin-left: 12px;

    button {
      margin-left: 156px;
    }
  }
}

@media (max-width: 1024px) {
  header {
    width: 1024px;
  }

  .hhfa-func {
    transform: scale(1.25);
    gap: 24px;
    width: 300px;
    flex-direction: column;
    position: relative;
    top: 60px;

    a {
      text-wrap: nowrap;
    }
  }

  .call-us-maybe {
    width: 22px;
    img {
      transform: scale(1.5);
    }
  }

  .htitle {
    h2 {
      margin-right: 44px;
    }
  }

  .header-fc {
    width: auto;
  }

  .s1c {
    transform: scale(0.80);
    margin-left: 150px;

    .s1c-p {
      width: 300px;
    }
  }

  .s2 {
    align-items: center;
  }

  .s2c {
    flex-direction: column;
    transform: scale(0.75);
    margin-top: -140px;
    margin-right: 96px;

    button {
      margin-bottom: 400px
    }
  }

  .s2c:last-child {
    /*i hate that thing*/
    position: idk lol;
  }

  .s3 {
    transform: scale(0.8);
  }

  .s4 {
    transform: scale(0.8);
    position: relative;
    right: 20px;

    button {
      position: relative;
      left: 100px;
    }
  }

  .fc-thing {
    position: relative;
    right: 40px;
  }
  .header-thing {
    display: block;
    position: relative;
    left: 300px;
  }
  .header-burger {
    display: none;
    flex-direction: column;
    background-color: #E86F54;
    width: 1048px;
    height: 400px;
    z-index: 2;
    position: absolute;
    top: -30px;
    right: -50px;
    animation: ANIMATEYAY 3600s infinite linear;
    .hhfa-func {
      a {
        animation: ANIMATEYAY 3600s infinite linear;
      }
    }
    .call-us-maybe {
        animation: ANIMATEYAY 3600s infinite linear;
    }
  }
  #thing:checked ~ .header-burger {
    display: flex;
  }
  #thing:checked ~ .header-thing {
  display: none;
  }
  #thing {
    opacity: 0;
    width: 100px;
    height: 100px;
    z-index: 3;
  }
  .header-hc-func {
    position: relative;
    left: -40px;
  }
  .header-a-logo {
    position: absolute;
    right: 750px;
  }
  .header-thing2 {
    font-size: 50px;
    font-weight: 700;
  }
  #thing2:checked ~ .sans {
    display: flex;
    //animation: SANSJUMPSCARE 0.5s; крч анімка не працює як хочеться, делей не працює тому краще я її впринципі вирублю
  }
  #thing2:checked ~ .header-thing2 {
    color: red;
  }
  #thing2 {
    z-index: 0;
    opacity: 0;
    width: 100px;
    height: 100px;
  }
  #thing2:checked {
    z-index: 5;
  }
  .sans {
    display: none;
    position: absolute;
    z-index: 1;
        //animation-delay: 10s;
    img {
       position: absolute;
       position: relative;
       top: 150px;
       transform: scale(0.75);
    }
  }
    .header-thing {
    opacity: 100%;
  }
  #thing {
    opacity: 0;
  }
  #thing2 {
    opacity: 0;
  }
  .sans {
    opacity: 100%;
  }
  .header-thing2 {
    opacity: 100%;
  }
}

@keyframes ANIMATEYAY {
  from {
    transform: rotate(0deg) scale(1) translate(0);
  }
  50% {
    transform: translate(51000px, 105900px);
  }
  to {
    transform: rotate(360deg) scale(5) translate(-15600px, -39500px);
  }
}
@keyframes SANSJUMPSCARE {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}