.hfunc {
    display: flex;
    position: relative;
    left: 80px;
    margin-top: 64px;
    img {
        z-index: 3;
    }
    .hfunc-a {
        position: relative;
        left: 37vw;
        z-index: 3;
        a {
            text-decoration: none;
            text-transform: capitalize;
            color: rgba($color: #fff, $alpha: 0.8);
            transition: 0.2s;
        }

        a:hover {
            //animation: 0.15s pthing forwards;
            color: white;
        }

        nav {
            gap: 77px;
            display: flex;
        }
    }
}

.header-thing, #thing {
    display: none;
    position: absolute;
    left: 486px;
    z-index: 5;
}

#thing {
    opacity: 0;
}

.header-thing {
    color: rgba($color: #fff, $alpha: 0.8);
    font-size: 28px;
    align-self: center;
}

.header-burger {
    position: absolute;
    width: 768px;
    height: 367px;
    background-color: #191919;
    display: none;
    z-index: 2;
    .header-burger-a {
        display: grid;
        row-gap: 24px;
        position: absolute;
        top: 119px;
        a {
            text-decoration: none;
            text-transform: capitalize;
            color: rgba($color: #fff, $alpha: 0.8);
        }
    }
}